.App {
    width: 100vw;
    height: 100vh;
    background-image: url("imagens/wallpaper.jpg");
    background-size: cover;
}

.App-header {
    background: rgba(255,255,255,1);
}

.opcoes {
    display: flex;
}

.opcao {
    min-width: 120px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
}

li {
    list-style: none;
}